
:root {
    --colorColorMain: #0c43ab;    
    --colorColorHover: #072660;    
    --colorColorBackground: #061827;    
    --colorColorDarkone: #f3f3f3;    
    --colorColorDarktwo: #ffffff;    
    --colorColorLightone: #cccccc;    
    --colorColorLighttwo: #e7e3e3;    
}